* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.informacao ul {
  display: flex;
  justify-content: space-between; /* espalha */
  align-items: center;
  list-style: none; /* tira bolinhas */
  padding-left: 15vh;
  padding-right: 15vh;
  margin: 0;
}

@media (max-width: 1100px) {
  .informacao ul {
    display: none;
  }
}

.frete {
  font-weight: bold;
  text-transform: uppercase;

}

.background {
  background: linear-gradient(to top left,
      #ffecce 40%,
      #e6d3b1);
}



.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
}

.sandrinha img {
  height: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1100px) { 
  .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
  }

  .carrinho {
    display: flex;
    margin-left: auto;
  }

  .sandrinha img {
    height: 80px;
    width: 180px;
  }

  .nav-right {
    max-width: 100%;
  }
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.close-btn {
  display: none;
  font-size: 32;
  cursor: pointer;
  color: black;
}


.responsivo {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 10;
}

.menu {
  font-size: 16px;
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding-bottom: 15px;
}

.menu a {
  color: black;
  cursor: pointer;

}

.carrinho2 {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.menu.active {
  display: block;
}

@media (max-width: 768px) {

  .informacao ul {
    display: none;
  }

  .sandrinha img {
    display: flex;
    justify-content: center;
    width: 100%;

  }

  .navbar {
    flex-direction: column;
  }

  .nav-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -80%;
    right: auto;
    width: 80%;
    height: 100%;
    background: #f4f4f4;
    flex-direction: column;
    padding: 30px 20px;
    transition: 0.3s;
    z-index: 11;
  }

  .menu.active {
    left: 0;
  }
  
  .carrinho {
    display: none;
  }

  .carrinho2 {
    background-color: black;
    display: block;
    border: none;
    background: none;
    margin-right: 20px;
  }



  .responsivo {
    display: block;
    margin-left: 20px;
    margin-right: 0;
  }

  .close-btn {
    display: block;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-right {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
  }

  .nav-right .search-input {
    border-radius: 10px;

  }

}

.slider{
  position: relative;
  width: 100%;
  margin: auto;

}

.slides{
  display:flex;
  max-width: 1200px;
  transition: transform 0.4s ease;
}

.slide{
  min-width:100%;
  flex-shrink:0;
}


.btn-prev,
.btn-next{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background: rgb(0, 0, 0, 0.5);
  color:white;
  border:none;
  border-radius:10%;
  padding:10px;
  cursor:pointer;
}

.btn-prev{
  left:10px;
  z-index: 11;
}

.btn-next{
  right:10px;
}


@media (max-width: 768px) {
.slider{
  position: relative;
  width: 100%;
  margin: auto;

}

.slides{
  display:flex;
  max-width: 1200px;
  transition: transform 0.4s ease;
}

.slide{
  min-width:100%;
  flex-shrink:0;
  }


  .btn-prev,
  .btn-next {
    padding: 5px;
    font-size: 14px;
  }
}

.melhor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}

.melhor h1 {
  font-size: 48px;
  
}

.texto .imagem {
  flex: 1;

}

.imagem img {
  width: 100%;
}

@media (max-width: 768px) {
  .melhor {
    flex-direction: column;
  }
}


.grid-produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.preco {
  color: white;
  font-size: 27px;
  text-align: center;
}