* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.sandrinha img {
    height: 100px;
    width: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.responsivo {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-left {
    width: 100%;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    top: 65px;
    right: 0;
    background: #222;
    width: 200px;
    flex-direction: column;
    padding: 15px;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .hamburguer {
    display: block;
  }

  .nav-right {
    margin-top: 10px;
  }

}


.melhor {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    padding: 60px 20px;
}

.texto .imagem {
    flex: 1;

}

.imagem img {
    width: 100%;
}

@media (max-width: 768px) {
    .melhor {
        flex-direction: column;
    }
}


.grid-produto {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}


.preco {
    color: white;
    font-size: 27px;
    text-align: center;
}

