* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.sandrinha img {
    height: 100px;
    width: 100px;
    right: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

 .menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.menu.active {
  display: block;
}

.close-btn {
  display: none;
  font-size: 32;
  cursor: pointer;
  color: black;
}

.responsivo {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 10;
}

@media (max-width: 768px) {

  .sandrinha img{
    height: 150px;
    width: 150px;
    
  }

  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-left {
    width: 100%;
    justify-content: space-between;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -80%;
    width: 80%;
    height: 100%;
    background: #f4f4f4;
    flex-direction: column;
    padding: 30px 20px;
    transition: 0.3s;
    z-index: 11;
  }

  .menu.active {
    right: 0;
  }

  .responsivo {
    margin-left: auto;
    display: block;
  }

  .close-btn {
    display: block;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-right .search-input{
    border-radius: 10px;

  
    
  }

}


.melhor {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    padding: 60px 20px;
}

.texto .imagem {
    flex: 1;

}

.imagem img {
    width: 100%;
}

@media (max-width: 768px) {
    .melhor {
        flex-direction: column;
    }
}


.grid-produto {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}


.preco {
    color: white;
    font-size: 27px;
    text-align: center;
}

